{% extends 'form_pract/base.html' %}
{% block content %}

<table class="table table-striped table-dark">
    <thead class="">
      <tr>
        <th scope="col">NAME</th>
        <th scope="col" class="text-center  " >EMAIL</th>
        <th scope="col">CONATCT</th>
        <th scope="col">MESSAGE</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for data in data_list %}
    <tbody>
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.contact}}</td>
        <td>{{data.message}}</td>
        <td>
            <a href="{% url 'index' %}">
                <input class="app-form-button" type="submit" value="EDIT">
            </a>
        </td>
        <td>
            <a href="{% url 'index' %}">
                <input class="app-form-button" type="submit" value="DELETE">
            </a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>    

{% endblock content %}